@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Copperplate, Fantasy;">Welcome!</h1>
    <p style="font-family: Lucida Handwriting, Cursive;">Learn About: <a href="https://www.udemy.com/course/cicd-pipelines-devops-jenkins-python-docker/?referralCode=AC03DFF9ABBABBEAB333" style="color: #007bff; text-decoration: none;">Jenkins CI/CD Pipeline DevOps - Building .net Web-Apps with Docker Jenkins</a>.</p>
    <a href="https://www.udemy.com/course/cicd-pipelines-devops-jenkins-python-docker/?referralCode=AC03DFF9ABBABBEAB333">
        <img src="~/images/RealWorldCICDCourse.PNG" alt="CI_logo" width="450">
    </a>
</div>
